* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9DC08B;
}

h1 {
    margin-top: 20px;
    font-family: monospace;
    text-transform: uppercase;
}

#canvas {
    margin-top: 20px;
    border: none;
}